[run]
# a list of packages or directories, the source to measure during execution.
source = beams,impedances,input_parameters,llrf,monitors,plots,synchrotron_radiation,trackers
# a list of file name patterns, the files to include in measurement or reporting.
# include = 

# a list of file name patterns, the files to leave out of measurement or reporting.
# omit = 