[run]
branch = True

# a list of packages or directories, the source to measure during execution.
source =
    blond/

# a list of file name patterns, the files to include in measurement or reporting.
# include =

# a list of file name patterns, the files to leave out of measurement or reporting.
omit =
    *.cpp
    *.h
    *.cu
    *.npy
    *.npz
    blond/legacy/*
    blond/experimental/*
    blond/performance_blond3/*
    blond/testing/*
    blond/_core/backends/cuda/*
    blond/_core/backends/cpp/*
    blond/_core/backends/fortran/*
    blond/_core/backends/numba/*
