[run]
branch = True

# a list of packages or directories, the source to measure during execution.
source = 
    blond/beam
    blond/impedances
    blond/input_parameters
    blond/llrf
    blond/monitors
    blond/plots
    blond/synchrotron_radiation
    blond/trackers
    blond/utils
    blond/toolbox
# a list of file name patterns, the files to include in measurement or reporting.
# include = 

# a list of file name patterns, the files to leave out of measurement or reporting.
# omit = 
