# Compiled files #
##################
*.pyc
*.dll
*.so

# Configuration files #
#######################
.project
.pydevproject

# _doc/build folder #
#######################
/__doc/build/

