# Compiled files #
##################
*.pyc
*.dll
*.so

# Configuration files #
#######################
.project
.pydevproject

# _doc/build folder #
#######################
/__doc/build/

# Figure folder #
#################
/__EXAMPLE_MAIN_FILES/output_files/
