recursive-include blond/cpp_routines *.so
recursive-include blond/cpp_routines *.dll
recursive-include blond/cpp_routines *.cpp
recursive-include blond/cpp_routines *.h
recursive-include blond/beam *.cpp
recursive-include blond/synchrotron_radiation *.cpp
recursive-include blond/toolbox *.cpp
recursive-include blond/gpu/cuda_kernels *.cu