recursive-include blond *.cpp
recursive-include blond *.h
recursive-include blond *.cu
recursive-include blond *.f90
recursive-include blond *.dll
recursive-include blond *.so
recursive-include blond *.cubin

recursive-exclude unittests *
recursive-exclude legacy *
