recursive-include blond *.cpp
recursive-include blond *.h
recursive-include blond *.cu

recursive-exclude unittests *
recursive-exclude __EXAMPLES *
recursive-exclude __BENCHMARKS *
recursive-exclude __doc *
